html
  font-size 15.4px
  position relative
  min-height 100%
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  -ms-touch-action manipulation
  touch-action manipulation
  -webkit-tap-highlight-color rgba(0,0,0,0)

*, :after, :before
  box-sizing border-box

.main-content-wrapper, body
  display flex
  min-height 100vh
  flex-direction column

body
  font-family Open Sans, "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height 1.43
  color $font-color
  background $body-background

.main-content-wrapper
  flex 1 0 auto
  font-size 15px
