/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Colors-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
$font-color = #29303b
$body-background = pallete('grey','lighten-4')
$icon-color = #686f7a


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Shadows-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
$nav-shadow = 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1)